.pane-style{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25.6;
    -fx-border-radius: 25.6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0,3.2);
}


.btn-gray{
    -fx-background-color: #D2D2D2;
    -fx-background-radius: 9;

    -fx-border-radius: 9;

    -fx-text-fill: white;
    fx-font-weight: 600;
    -fx-font-size: 14px;
}

.btn-gray:hover{
    -fx-background-color: #B2B2B2;
}

.btn-gray:pressed{
    -fx-background-color: #969494;
}

.btn-primary{
    -fx-background-color: #38D260;
    -fx-background-radius: 9;

    -fx-border-radius: 9;

    -fx-text-fill: white;
    fx-font-weight: 600;
    -fx-font-size: 14px;
}

.btn-primary:hover{
    -fx-background-color: #2E9E4C;
}

.btn-primary:pressed{
    -fx-background-color: #2E9E4C;
}


.form-field{
    -fx-border-color: #D2D2D2;
    -fx-border-radius: 12.8;

    -fx-background-color: #F0F0F0;
    -fx-background-radius: 12.8;

    -fx-text-fill: #A89494;
    -fx-font-weight: 600;
    -fx-font-size: 16px;
}

.header-style{
    -fx-text-fill: #36573E;
    -fx-font-size: 23px;
}

.desc-style{
    -fx-text-fill: #36573E;
    -fx-font-size: 16px;
}
