.pane-style{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 25.6;
    -fx-border-radius: 25.6;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 15, 0, 0,3.2);
}

.btn-exit{
    -fx-background-color: #D2D2D2;
    -fx-background-radius: 9;

    -fx-border-radius: 9;

    -fx-text-fill: white;
    fx-font-weight: 600;
    -fx-font-size: 14px;
}

.btn-exit:hover{
    -fx-background-color: #B2B2B2;
}

.btn-exit:pressed{
    -fx-background-color: #969494;
}

.header-text{
    -fx-text-fill: #36573E;
    -fx-font-size: 14px;
}

.text-style{
    -fx-text-fill: #36573E;
    -fx-font-size: 12px;
}